:root {
  --primary: #646cff;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  accent-color: var(--primary);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a:target {
  color: #ffeb91;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.6em;
  font-size: clamp(2rem, 4vw + 1rem, 3rem);
  line-height: 1.1;
  text-align: center;
  margin-top: -2rem;
  pointer-events: none;
  text-shadow: 0 0 2px black;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-fill {
  flex: 1;
}

#app {
  display: flex;
  align-content: stretch;
  overflow: clip;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 40rem;
  max-height: 100vh;
  gap: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--primary);
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--primary);
  }

  &.btn-icon {
    display: flex;
    aspect-ratio: 1;
    line-height: 1;
    fill: currentColor;
    color: rgba(255, 255, 255, 0.75);
    padding: 1rem;
    border-radius: 99rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.controls {
  display: flex;
  gap: 1rem;
  padding: 0 0.5rem;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: clip;

  input,
  label {
    width: 100%;
  }

  .volume {
    flex: 0 0 5rem;
  }

  .position {
    overflow: hidden;
  }
}

.list {
  overflow: hidden;
  overflow-y: auto;
  padding: 0 0.5rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h3 {
    position: sticky;
    top: 0;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    border-radius: 0.5rem;
    background-color: #1a1a1a;
    box-shadow: 0 0 0 0.25rem #242424;
  }

  li {
    margin: 0rem;

    a {
      border-radius: 0.5rem;
      border: 1px solid transparent;
      cursor: pointer;
      display: block;
      padding: 0.5rem 1rem;
      margin: 0.25rem 0;
      color: inherit;
      text-decoration: none;
      transition: background-color 0.2s;

      &:hover {
        background-color: #1a1a1a;
      }

      &:active {
        border-color: var(--primary);
      }
    }
  }
}
